Hi <%= @user.name %>,

<h3>Welcome to example.com!! </h3>
<p>
  You have successfully signed up to example.com,
  your username is: <strong><%= @user.username %></strong>.<br>
</p>

<p>Thanks for joining and have a great day!</p>
